body
{
    background-color: lightcoral;
    font-family: Arial;
    text-align: center;
}

#cabecera
{
    border-radius: 27px 27px 27px 27px;
    background: turquoise;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#cabecera #lo_otro
{
    font-size: 75%;
}

#Botones
{
    border-radius: 18px 18px 18px 18px;
    text-align: center;
    background: #D6D5D4;
    color: black;
    padding: 1em;
    margin: 0 auto;
    border: 2px solid white; 
}

#todo
{
    width: 60%;
    background-color: white;
    padding: 0.5em;
    margin: 0 auto;
}